<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas a Pagar</title>
    <div id="sidebar"></div>

    <link rel="stylesheet" href="../css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="../main.js" defer></script>
    <script type="module" src="../js/contasPagar.js" defer></script>
</head>

<body>
    <table id="contasPagarTable">
        <thead>
            <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data de Vencimento</th>
                <th>Data de Pagamento</th>
                <th>Valor</th>
                <th>Pago</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="button-container">
        <button id="cadastroConta" class="btn">Cadastro de Conta</button>
        <button id="atualizacaoConta" class="btn">Atualização de Conta</button>
        <button id="excluirConta" class="btn">Excluir Conta</button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="wrapper fadeInDown">
                <div class="content-login" style="padding: 10px 0;">
                    <h2 class="active"> Cadastro de Conta </h2>
                    <form class="box-login" id="cadastroContaForm">
                        <input type="text" id="nome" class="campo" name="nome" placeholder="Nome" required>
                        <input type="text" id="descricao" class="campo" name="descricao" placeholder="Descrição"
                            required>
                        <input type="date" id="data_vencimento" class="campo" name="data_vencimento"
                            placeholder="Data de Vencimento" required>
                        <input type="number" id="valor" class="campo" name="valor" placeholder="Valor" step="0.01"
                            required>
                        <div>
                            <input type="button" id="cadastrar" class="botao" value="Cadastrar">
                        </div>
                        <input type="button" id="cancelar" class="botao" value="Cancelar" style="margin-top: 5%;">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/contasPagar.js"></script>
    <script>
        fetch('menu.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('sidebar').innerHTML = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
</body>

</html>