body {
    font-family: Arial, sans-serif;
    margin-left: 200px;
}

#sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.btn {
    background-color: #1a5ca2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#button-container {
    position: fixed;
    bottom: 0;
    width: calc(100% - 200px);
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

#myModal {
    display: none;


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    html {
        background-color: #404040;
    }

    body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
    }

    h2 {
        text-align: left;
        font-size: 16px;
        margin-bottom: 10px;
        color: #0d0d0d;
        border-bottom: 1px solid #f6f6f6;
        padding: 15px 15px;
        width: 100%;
        float: left;
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
    }

    .content-login {
        -webkit-border-radius: 4px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 95%;
        max-width: 320px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .box-login {
        width: 100%;
        float: left;
        padding: 10px;
    }

    .box-lembrar-senha {
        width: 100%;
        float: left;
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }


    .botao {
        width: 100%;
        display: block;
        float: left;
        background-color: #ed9d56;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 15px 80px;
        text-align: center;
        font-size: 18px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        transition: 0.3s;
        margin-right: 15px;
    }

    .botao:hover {
        background-color: #404040;
    }

    .campo {
        background-color: #f6f6f6;
        border: none;
        outline: none;
        color: #0d0d0d;
        padding: 10px 5px;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
        border: 2px solid #f6f6f6;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        float: left;
        transition: 0.3s;
    }

    .campo:focus {
        background-color: #fff;
        color: #ed9d56;
    }

    .campo:placeholder {
        color: #cccccc;
    }

    .link {
        color: #ed9d56;
        display: inline-block;
        text-decoration: none;
        transition: 0.3s;
    }

    .link:hover {
        color: #404040;
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}